---
layout: blog_default
---
<div class="container">
<article class="post container">

  <header class="post-header">
       <!-- SERVICE SECTION HEADING START -->
                <div class="row wow fadeInUp" style="margin-left:0px;">
                    <span class="bigicon icon-comment "></span>
                    <h3 class="post-title" style="margin:0px;"><a href="{{site.baseurl}}/blog/index.html">{{ page.title }}</a></h3>
                    <hr class="separetor" style="position:absolute;">
                 </div><!--SERVICE SECTION HEADING END-->
<!--    <h1 class="post-title">{{ page.title }}</h1>-->
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
</div>
